.login-page {
  button {
    background: #093a41;
    font-family: inherit;
  }
}
.header-auth {
  background-color: #093a41;
  color: #fff;

  i {
    font-size: 22px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  h5 {
    font-weight: 400;
    margin: 0;
  }
}
