.author {
  padding-top: 145px;

  @media only screen and (max-width: 993px) {
    font-size: 90%;
  }
  @media only screen and (max-width: 700px) {
    padding-top: 95px;
  }

  .box {
    border-bottom: 1px solid #eee;
    padding-bottom: 67px;
    flex-direction: row;
    display: flex;
    width: 100%;
    gap: 20px;

    img {
      width: 150px;
      height: 204px;
      object-fit: cover;

      @media only screen and (max-width: 993px) {
        width: 248px !important;
        height: 207px;
      }

      @media only screen and (max-width: 600px) {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .item-1 {
      max-width: 300px;
      flex-shrink: 0;

      @media only screen and (max-width: 700px) {
        max-width: 100%;
      }
    }

    .item-2 {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      p {
        margin-bottom: 0;
      }

      .counter-date {
        display: flex;
        align-items: flex-end;
        justify-content: end;
        padding-top: 10px;
        bottom: 0;
        right: 2px;

        svg {
          margin-bottom: 3px;
          width: 21px;
          height: 21px;
          margin-right: 6px;
        }

        @media only screen and (max-width: 993px) {
          svg {
            margin-bottom: 1px;
            width: 21px;
            height: 21px;
            margin-right: 6px;
            padding: 1px;
          }
        }

        span:first-child {
          display: flex;
          align-items: flex-end;
        }

        display: flex;
        font-weight: 600;
        margin-left: 4px;
      }
    }

    @media only screen and (max-width: 940px) {
      flex-direction: column;
      height: auto;
      max-width: 100%;
    }
  }
  img {
    @media only screen and (max-width: 940px) {
      width: 100% !important;
    }
  }

  ul {
    padding-left: 0;
  }

  .works {
    margin-top: 4px;
    /*     border-bottom: 1px solid #dedede;
    padding-bottom: 25px; */
  }

  span.link {
    text-decoration: none;
    color: #0087d5;
    cursor: pointer;
    display: flex;
    padding: 10px 0;
  }

  a {
    text-decoration: none;
    color: #0087d5;
    text-decoration: none;
    color: #0087d5;
    cursor: pointer;
    display: block;
    padding: 10px 0;
  }

  .selected-work:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  /* Style for the arrow icon */
  .arrow {
    margin-left: 5px;
  }

  /* Style for the up arrow icon */
  .arrow.up::after {
    content: '\25bc'; /* Unicode for upward arrow */
  }

  /* Style for the down arrow icon */
  .arrow.down::after {
    content: '\25b2'; /* Unicode for downward arrow */
  }

  /* Style for the selected work item */
  .selected-work {
    display: none; /* Initially hide all selected work items */
    overflow: hidden;
    transition: max-height 0.5s ease; /* Add smooth transition effect */
  }

  /* Style for the open selected work item */
  .selected-work.open {
    display: block; /* Show the selected work item when open */
    /* Adjust the max-height as needed */
  }

  /* Style for the close selected work item */
  .selected-work.close {
    display: block; /* Show the selected work item when closed */
    max-height: 0; /* Collapse the selected work item */
  }

  /* Add additional styles as needed */

  .tab-header {
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .nav-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;

    @media only screen and (max-width: 800px) {
      font-size: 95%;
    }

    @media only screen and (max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .nav-tabs button {
    border: 1px solid transparent;
    padding: 8px 16px;
    margin-right: 5px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
    width: 150px;
    color: #093a41;

    @media only screen and (max-width: 993px) {
      width: 130px;
    }

    @media only screen and (max-width: 700px) {
      width: 115px;
    }
  }

  .nav-tabs button:hover {
    background: #ebebeb;
  }

  .nav-tabs button.selected {
    background: #ebebeb;
  }

  .arrow {
    position: relative;
  }

  p {
    text-align: justify;
  }

  .fa-file-word {
    margin-right: 12px;
  }
  i {
    margin-bottom: 0px;
  }

  .loader-image {
    width: 45px !important;
  }
}
