.home-layout {
  min-height: 1514.7px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 700px) {
    display: block;
  }

  .search {
    margin-bottom: 20%;
    /* margin-top: 20%; */
    padding-top: 0;

    @media only screen and (max-width: 700px) {
      margin-bottom: 40px;
      margin-top: 36px;
      padding-top: 110px;
    }
  }
}
