.home-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 840px;

  > div {
    margin-top: 120px;
  }

  @media only screen and (max-width: 700px) {
    display: block;
  }

  .search {
    margin-bottom: 70px;
    /* margin-top: 20%; */
    padding-top: 0;

    @media only screen and (max-width: 700px) {
      margin-bottom: 60px;
      margin-top: 36px;
      padding-top: 15px;
    }
  }
}
